$color-primary: #1195ff;
$color-secondary: #1e2746;
$color-tertiary: #a8c1ff;
$color-grey: #bcbcbc;

$bg-color-primary: $color-primary;
$bg-color-secondary: $color-secondary;
$bg-color-tertiary: $color-tertiary;
$bg-color-grey: $color-grey;
