$color-primary: #1195FF;
$color-secondary: #1E2746;
$color-tertiary: #A8C1FF;
$color-grey: #BCBCBC;

$bg-color-primary: $color-primary;
$bg-color-secondary: $color-secondary;
$bg-color-tertiary: $color-tertiary;
$bg-color-grey: $color-grey;