html {
  font-family: $base-font;
  font-weight: $base-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: #000;
  font-size: $base-font-size;
  overflow-x: hidden;
}

a {
  color: $color-tertiary;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $color-primary;
  }
}

a,
button {
  transition: ease-in-out 0.3s !important;
}

.font-default {
  font-family: $base-font !important;
}

.v-container {
  max-width: 1200px !important;
}
.text-none {
  text-transform: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
